@{
    ViewBag.Title = "AGVMonitoring";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.PageTitle = "AGV系统";
    ViewBag.PageColumn = "运行监控";
}
<link href="~/Scripts/AGVSystem/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/AGVSystem/jquery-ui.min.js"></script>
<div>
    <style>
        .id {
            width: 504px;
            height: 504px;
            border: 2px solid #000000;
            overflow: hidden;
            color: yellow;
        }
    </style>
    <input type="text" id="W" value="80" />
    <input type="text" id="H" value="60" />
    <div style="width:200px;height:50px">
        <form id="reservation">
            <label for="minbeds">比例尺</label>
            <select name="minbeds" id="minbeds">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
            </select>
            <div id='slider'></div>
        </form>
    </div>

    <!--画板-->
    <div id="grid">
        <canvas id="canvas">您当前的浏览器版本不支持此功能</canvas>
    </div>
    <script type="text/javascript">
        $(function () {
            var WidX = 1; var HeiY = 1;
            var Wid = (80 + 20) * WidX; var Hei = (60 + 20) * HeiY;  // 80*60 放大系数 100*80
            Show(Wid, Hei);
            //比例尺
            var select = $("#minbeds");
            var slider = $("#slider").slider({
                min: 1,
                max: 15,
                range: "min",
                value: select[0].selectedIndex + 1,
                slide: function (event, ui) {
                    select[0].selectedIndex = ui.value - 1;
                    Wid = (100 + 20) * ui.value; Hei = (80 + 20) * ui.value;
                    console.log(ui.value);
                    Show(Wid, Hei);
                }
            });
            $("#minbeds").change(function () {
                slider.slider("value", this.selectedIndex + 1);
            });
            //比例尺

            //var Xdata = 10; var Ydata = 100

            function Show(Wid, Hei) {
                $("#grid").css({ width: Wid, height: Hei, border: '2px solid #000000' })
                console.log(Wid + '----' + Hei);
                var canvas = document.getElementById('canvas');
                canvas.width = Wid;
                canvas.height = Hei;
                if (canvas.getContext) {
                    var ctx = canvas.getContext("2d"),
                        width = canvas.width,
                        height = canvas.height;
                    ctx.lineWidth = 0.3;
                    //横线
                    for (var i = 1; i * (Hei / 10) < height; i++) {
                        ctx.strokeStyle = "red";
                        ctx.beginPath();
                        ctx.moveTo(0, i * (Wid / 10));
                        ctx.lineTo(width, i * (Wid / 10));
                        ctx.stroke();
                    }
                    //纵线
                    for (var j = 1; j * (Hei / 10) < width; j++) {
                        ctx.strokeStyle = "blue";
                        ctx.beginPath();
                        ctx.moveTo(j * (Wid / 10), 0);
                        ctx.lineTo(j * (Wid / 10), height);
                        ctx.stroke();
                    }
                    //点
                    for (var k = 1; k * (Wid / 10) < width; k++) {
                        for (var i = 1; i * (Wid / 10) < height; i++) {
                            ctx.beginPath();
                            ctx.arc(k * (Wid / 10), i * (Wid / 10), (Wid / 100), 0, 2 * Math.PI, false);
                            ctx.closePath(); //关闭路径
                            ctx.fillStyle = "blue";
                            ctx.fill();//以填充方式绘制圆
                        }
                    }
                }
            }

        })
    </script>
</div>