@{
    ViewBag.Title = "AGVMonitoring";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.PageTitle = "AGV系统";
    ViewBag.PageColumn = "运行监控";
}

<link href="~/Scripts/AGVSystem/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/AGVSystem/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<div>
    <style>
        .Control-li li {
            width: 24%;
            height: 50px;
            text-align: center;
            line-height: 50px;
            display: inline-block;
            margin-top: 50px;
        }

        .dropdown-menu {
            position: absolute;
            top: 103%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            list-style: none;
            text-shadow: none;
            max-height: 180px;
            margin: 0px;
            font-size: 14px;
            font-family: "Segoe UI",Helvetica, Arial, sans-serif;
            border: 1px solid #ddd;
        }

        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        canvas {
            border: red solid 1px;
        }
    </style>

    <div class="count-panel" style="width:100%;min-width:1600px;margin:0px auto;">

        <div class="panel panel-default">
            <div class="panel-heading " id="pal-text"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span>&nbsp;AGV监控</div>
            <div class="panel-body" style="overflow:hidden;display:block;">
                <div class="form-group">
                    <div style="float:left;display:block;width:30%;height:780px;">
                        <div class="panel-body">
                            <div style="width:200px;height:20px;margin:10px 0px 10px 100px;">
                                <form id="reservation">
                                    <div id='slider'></div>
                                </form>
                            </div>
                            <div class="form-group">
                                <select id="combobox_agv" class="selectpicker show-tick form-control" data-live-search="false">
                                    <option value="-1">请选择 AGV</option>
                                    <option value="1">AGV 1</option>
                                    <option value="2">AGV 2</option>
                                    <option value="3">AGV 3</option>
                                    <option value="4">AGV 4</option>
                                    <option value="5">AGV 5</option>
                                    <option value="6">AGV 6</option>
                                </select>
                            </div>
                        </div>
                        <div class="count-panel" style="width:100%;margin:0px auto;height:620px">
                            <div class="x_title">
                                <h2 style="font-size:18px;margin-top:20px;">基本信息</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix">
                                <div style="width:100%;">
                                    <ul class="Control-li" style="display:block;height:50px;margin-top:20px;">
                                        <li style="background-color: #00CDCD;color:white;font-size:18px;border-radius:2%">AGV编号</li>
                                        <li style="font-size:18px;font-weight:bold;background: Linen;" id="agvNum">1号</li>
                                        <li style="background-color: #00CDCD;color:white;font-size:18px;border-radius:2%">状态</li>
                                        <li style="font-size:18px;font-weight:bold;background: Linen;color:#139656">在线</li>
                                    </ul>
                                    <ul class="Control-li" style="display:block;height:50px;margin-top:30px;">
                                        <li style="background-color: #00CDCD;color:white;font-size:18px;border-radius:2%">二维码</li>
                                        <li style="font-size:18px;font-weight:bold;background: Linen;width:74%;" id="qrCode">00015</li>
                                    </ul>
                                    <ul class="Control-li" style="display:block;height:50px;margin-top:30px;">
                                        <li style="background-color: #00CDCD;color:white;font-size:18px;border-radius:2%">PBS</li>
                                        <li style="font-size:18px;font-weight:bold;background: Linen;">区域6</li>
                                        <li style="background-color: #00CDCD;color:white;font-size:18px;border-radius:2%">云台</li>
                                        <li style="font-size:18px;font-weight:bold;background: Linen;">上升</li>
                                    </ul>
                                    <ul class="Control-li" style="display:block;height:50px;margin-top:30px;">
                                        <li style="background-color: #00CDCD;color:white;font-size:18px;border-radius:2%">报警信息</li>
                                        <li style="font-size:18px;font-weight:bold;background:  Linen;width:74%;color:#139656">正常</li>
                                    </ul>
                                    <ul class="Control-li" style="display:block;height:50px;margin-top:30px;">
                                        <li style="background-color: #00CDCD;color:white;font-size:18px;border-radius:2%">当前位置</li>
                                        <li style="font-size:18px;font-weight:bold;background: Linen;" id="current_position">x10y21</li>
                                        <li style="background-color: #00CDCD;color:white;font-size:18px;border-radius:2%">当前任务</li>
                                        <li style="font-size:18px;font-weight:bold;background: Linen;">运输</li>
                                    </ul>
                                    <ul class="Control-li" style="display:block;height:50px;margin-top:30px;">
                                        <li style="background-color: #00CDCD;color:white;font-size:18px;border-radius:2%">出发地</li>
                                        <li style="font-size:18px;font-weight:bold;background: Linen;" id="place_of_departure">x10y21</li>
                                        <li style="background-color: #00CDCD;color:white;font-size:18px;border-radius:2%">目的地</li>
                                        <li style="font-size:18px;font-weight:bold;background: Linen;" id="destination">x10y21</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width:1000px;height:750px;overflow:scroll;float:left;margin-left:60px;display:block;border:#000000 solid 2px;padding:10px 15px 5px 10px;">
                        <canvas id="canvas" style="border:#EDEDED solid 1px">您当前的浏览器版本不支持此功能</canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var Wid = 1000; var Hei = 800; var coe = 1;
    var ar = new Array();

    $(function () {

        $.ajax({
            url: '/api/AGVSystem/ShowPlace',
            type: "post",
            contentType: 'application/json',
            success: function (data) {
                Wid = data.map_X; Hei = data.map_Y;
                console.log(Wid); console.log(Hei);
                for (var i = 0; i < data.rows.length; i++) {
                    ar.push(data.rows[i])
                }
                Show(Wid, Hei, ar, 1); console.log(ar);
            }
        });

        //比例尺
        var select = $("#minbeds");
        var slider = $("#slider").slider({
            min: -5,
            max: 5,
            range: "min",
            slide: function (event, ui) {
                var w; var h;
                if (ui.value == 0) {
                    w = Wid * 1; h = Hei * 1; Show(w, h, ar, 1); coe = 1;
                } else if (ui.value == -1) {
                    w = Wid * 0.8; h = Hei * 0.8; Show(w, h, ar, 0.8); coe = 0.8;
                } else if (ui.value == -2) {
                    w = Wid * 0.6; h = Hei * 0.6; Show(w, h, ar, 0.6); coe = 0.6;
                } else if (ui.value == -3) {
                    w = Wid * 0.4; h = Hei * 0.4; Show(w, h, ar, 0.4); coe = 0.4;
                } else if (ui.value == -4) {
                    w = Wid * 0.2; h = Hei * 0.2; Show(w, h, ar, 0.2); coe = 0.2;
                } else if (ui.value == -5) {
                    w = Wid * 0.1; h = Hei * 0.1; Show(w, h, ar, 0.1); coe = 0.1;
                } else if (ui.value == 1) {
                    w = Wid * 1.2; h = Hei * 1.2; Show(w, h, ar, 1.2); coe = 1.2;
                } else if (ui.value == 2) {
                    w = Wid * 1.4; h = Hei * 1.4; Show(w, h, ar, 1.4); coe = 1.4;
                } else if (ui.value == 3) {
                    w = Wid * 1.6; h = Hei * 1.6; Show(w, h, ar, 1.6); coe = 1.6;
                } else if (ui.value == 4) {
                    w = Wid * 1.7; h = Hei * 1.7; Show(w, h, ar, 1.7); coe = 1.7;
                } else if (ui.value == 5) {
                    w = Wid * 1.8; h = Hei * 1.8; Show(w, h, ar, 1.8); coe = 1.8;
                }
            }
        });
        //比例尺

        $("#combobox_agv").bind('change', function () {
            ShowAgvInfo($(this).val(), ar, coe);
        })

        function ShowAgvInfo(agvNum, ar, coe) {
            $("#agvNum").text(agvNum + "号");
            $("#qrCode").text("00055146512");
            $("#current_position").text("x15y02");
            $("#place_of_departure").text("x04y07");
            $("#destination").text("x13y14");
            var canvas = document.getElementById('canvas');
            var ctx = canvas.getContext("2d");
            ////横线
            ctx.lineWidth = (Wid / 100);
            ctx.strokeStyle = "red";
            ctx.beginPath();
            ctx.moveTo(ar[10].qrX * coe, ar[10].qrY * coe);
            ctx.lineTo(ar[15].qrX * coe, ar[15].qrY * coe);
            ctx.stroke();
            ////纵线
            ctx.strokeStyle = "red";
            ctx.beginPath();
            ctx.moveTo(ar[15].qrX * coe, ar[15].qrY * coe);
            ctx.lineTo(ar[42].qrX * coe, ar[42].qrY * coe);
            ctx.stroke();
        }

        function Show(Wid, Hei, ar, con) {

            var canvas = document.getElementById('canvas');
            canvas.width = Wid;
            canvas.height = Hei;
            if (canvas.getContext) {
                var ctx = canvas.getContext("2d"),
                    width = canvas.width,
                    height = canvas.height;

                //for (var k = 0; k < Wid / ar[0].qrX; k++) {
                //    ctx.textBaseline = 'middle';
                //    ctx.fillText('x' + k + 1, ar[i].qrX, 0);
                //    console.log('x' + k + 1);
                //}

                //点
                ctx.background = "background";
                for (var i = 0; i < ar.length; i++) {

                    ctx.beginPath();
                    ctx.arc(ar[i].qrX * con, ar[i].qrY * con, (Wid / 100), 0, 2 * Math.PI, false);
                    ctx.closePath(); //关闭路径
                    if (ar[i].qrStatus == 1) {
                        ctx.fillStyle = "#778899";
                    } else {
                        ctx.fillStyle = "red";
                    }
                    ctx.fill();//填充

                }

            }
        }

    })
</script>