@{
                /**/

                ViewBag.Title = "QRcode";
                Layout = "~/Views/Shared/_LayoutPage.cshtml";
                ViewBag.PageTitle = "AGV系统";
                ViewBag.PageColumn = "二维码管理";
}

<h2>QRcode</h2>