@{
    ViewBag.Title = "AGVManagement";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.PageTitle = "AGV系统";
    ViewBag.PageColumn = "二维码管理";
}
<div class="count-panel" style="width:100%;min-width:500px;margin:0px auto;">
    <div class="x_title">
        <div class="clearfix">
            <div class="panel-body" style="padding:0px;">
                <form id="formSearch" class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading " id="pal-text"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>&nbsp;查询条件<span style="float:right;"><a href="javascript:;" class="Inquire-text" id="btn_query"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;查询</a></span></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-sm-1" for="txt_search_rolename" id="AGVNumber">AGV编号</label>
                                <div class="col-sm-3">
                                    <input id="query_agv_num" type="text" class="form-control">
                                </div>
                                <label class="control-label col-sm-1" for="txt_search_desc">AGV状态</label>
                                <div class="col-sm-3">
                                    <select id="agv_static" class="selectpicker show-tick form-control" data-live-search="false">
                                        <option>在线</option>
                                        <option>离线</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="panel panel-default">
                    <div class="panel-heading" id="pal-text"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;数据列表</div>
                    <div class="panel-body" style="padding:10px;">
                        <div id="toolbar" class="btn-group">
                            <button id="btn_add" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                            </button>
                            <button id="btn_edit" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                            </button>
                            <button id="btn_delete" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                            </button>
                        </div>
                        <table id="tb_report"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txt_rolename">AGV编号</label>
                        <input type="text" name="agvNum" class="form-control" id="agvNum" placeholder="AGV编号">
                    </div>
                    <div class="form-group">
                        <label for="txt_rolename">序列号</label>
                        <input type="text" name="agvSerialNum" class="form-control" id="agvSerialNum" placeholder="AGV序列号">
                    </div>
                    <div class="form-group">
                        <label for="txt_defaulturl">IP地址</label>
                        <input type="text" name="agvIp" class="form-control" id="agvIp" placeholder="IP地址">
                    </div>
                    <div class="form-group">
                        <label for="txt_defaulturl_Web">端口号</label>
                        <input type="text" name="agvPort" class="form-control" id="agvPort" placeholder="端口号">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {

        toastr.options = {
            showDuration: "300",                                      // 显示动画的时间
            hideDuration: "1300",                                     //  消失的动画时间
            timeOut: "1000",                                             //  自动关闭超时时间 
            extendedTimeOut: "1000",                                  //  加长展示时间
            showEasing: "swing",                                     //  显示时的动画缓冲方式
            hideEasing: "linear",                                       //   消失时的动画缓冲方式
            showMethod: "fadeIn",                                   //   显示时的动画方式
            hideMethod: "fadeOut"                                   //   消失时的动画方式
        };

        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

        $("#btn_query").click(function () {
            $("#tb_report").bootstrapTable('destroy'); //先要将table销毁，否则会保留上次加载的内容
            oTable.Init();
            $("#tb_report").bootstrapTable('refresh');
        });


        //新增数据click事件注册
        $("#btn_add").click(function () {
            $("#myModalLabel").text("新增");
            $("#myModal").find(".form-control").val("");
            $('#myModal').modal();
        });

        //添加提交
        $('#btn_submit').click(function () {
            if (!Verify())
                return;
            $.ajax({
                type: 'post',
                url: '/api/agvlist/Addagv',
                contentType: 'application/json',
                data: JSON.stringify({ "agvNum": $('#agvNum').val(), "agvIp": $('#agvIp').val(), "agvPort": $('#agvPort').val(), "agvSerialNum": $('#agvSerialNum').val() }),
                datatype: 'json',
                success: function (res) {
                    if (res.Success) {
                        $('#myModal').modal('toggle');
                        toastr.success(res.Message)
                    }
                    else {
                        toastr.error(res.Message);
                    }
                },
                error: function (e) {
                    toastr.error(e.responseText);
                }
            });
        });

        //表单验证
        function Verify() {
            if ($('#agvNum').val() == "" || $('#agvIp').val() == "" || $('#agvPort').val() == "" || $('#agvSerialNum').val() == "") {
                toastr.error('必填项不能为空！！！');
                return false;
            }
            var rexip = /^\d+\.\d+\.\d+\.\d+$/;//验证IP
            var rexNum = /^[0-9]*$/; //验证数字
            if (!rexip.test($('#agvIp').val())) {
                toastr.error('IP地址格式不正确');
                return false;
            }
            if (!rexNum.test($('#agvNum').val()) || !rexNum.test($('#agvPort').val())) {
                toastr.error('AGV编号或端口号格式输入错误');
                return false;
            }
            return true;
        }
    });

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_report').bootstrapTable({
                url: '/api/agvlist/agv',             //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                    //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100, 500],   //可供选择的每页的行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "agvId",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,

                columns: [
                    {
                        checkbox: true
                    },
                    {
                        field: 'agvNum',
                        title: 'AGV编号',
                        align: 'center'
                    }, {
                        field: 'agvIp',
                        title: 'IP',
                        align: 'center'
                    }, {
                        field: 'agvPort',
                        title: '端口号',
                        align: 'center'
                    }, {
                        field: 'agvOnLineTime',
                        title: '最近上线时间',
                        align: 'center'
                    }, {
                        field: 'agvOffLineTime',
                        title: '最近离线时间',
                        align: 'center'
                    },
                    {
                        field: "agvId", title: "操作", width: 200, align: "center", formatter: function (value, row, index) {
                            var strHtml = '<a class="btn btn-xs btn-primary btn-update" data-id="' + row.agvId + '"><i class="fa fa-edit"></i>&nbsp;操作</a>&nbsp;&nbsp;' +
                                '<a class="btn btn-xs btn-danger btn-remove"  data-id="' + row.agvId + '"><i class="fa fa-trash-o"></i>&nbsp;删除</a>';
                            return strHtml;
                        }, edit: false
                    }
                ]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
            };
            return temp;
        };
        return oTableInit;
    };
</script>