
@{
    ViewBag.Title = "Ga_qrcode";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.PageTitle = "AGV系统";
    ViewBag.PageColumn = "任务日志";
}


<div class="count-panel" style="width:100%;min-width:500px;margin:0px auto;">
    <div class="clearfix">
        <div class="panel-body" style="padding:0px;">
            <div class="panel panel-default">
                <div class="panel-heading" id="pal-text">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>

                    查询条件
                    <a href="javascript:;" style="float:right;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;查询</a>
                </div>
                <div class="panel-body">
                    <form id="formSearch" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="txt_search_rolename">二维码：</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="txt_search_rolename">
                            </div>
                            <label class="control-label col-sm-1" for="txt_search_desc">状态：</label>
                            <div class="col-sm-3">
                                <select class="selectpicker show-tick form-control" data-live-search="false">
                                    <option>全部</option>
                                    <option>已完成</option>
                                    <option>进行中</option>
                                    <option>未完成</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="pal-text">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                数据表格
            </div>
            <div class="panel-body">
                <table id="tb_report"></table>
            </div>
        </div>
    </div>
</div>
<script>
    $(".form_datetime").
        datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            language: 'zh-CN',
            format: 'yyyy-mm-dd hh:ii:ss',
            pickerPosition: 'bottom-left',
            showMeridian: 1
        });
    $(function () {

        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

    });

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_report').bootstrapTable({
                url: '/API/TaskLog/TaskLog',        //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,
                columns: [{
                    field: 'qrId',
                    title: '二维码ID',
                    align: 'center'
                }, {
                    field: 'qrInfo',
                    title: '二维码信息',
                    align: 'center'
                }, {
                    field: 'qrX',
                    title: '二维码X值',
                    align: 'center'
                }, {
                    field: 'qrY',
                    title: '二维码Y值',
                    align: 'center'
                }, {
                    field: 'qrStatus',
                    title: '二维码状态',
                    align: 'center'
                }, {
                    field: 'qrRemark',
                    title: '二维码备注',
                    align: 'center'
                }]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                //departmentname: $("#txt_search_departmentname").val(),
                //statu: $("#txt_search_statu").val()
            };
            return temp;
        };
        return oTableInit;
    };
</script>
