
@{
    ViewBag.Title = "RunMonitoring";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.PageTitle = "AGV系统";
    ViewBag.PageColumn = "运行监控";
}

<style>
    .Control-li li {
        width: 24%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        display: inline-block;
    }
</style>
<div class="clearfix">
            <div class="panel panel-default" style="width:40%;float:left;">
                <div class="x_title">
                    <h2 style="font-size:18px;">基本信息</h2>
                    <div class="clearfix"></div>
                </div>
                <div style="width:98%;height:20%;margin:0px auto;">
                    <ul class="Control-li" style="display:block;height:10%;">
                        <li style="background-color:#1ABC9C;color:white;font-size:18px;border-radius:2%">AGV编号</li>
                        <li style="font-size:18px;font-weight:bold;background: #EDEDED;">1号</li>
                        <li style="background-color:#1ABC9C;color:white;font-size:18px;border-radius:2%">AGV状态</li>
                        <li style="font-size:18px;font-weight:bold;background: #EDEDED;">V1.0.5</li>
                    </ul>
                    <ul class="Control-li" style="display:block;height:;margin-top:30px;">
                        <li style="background-color:#1ABC9C;color:white;font-size:18px;border-radius:2%">当前位置</li>
                        <li style="font-size:18px;font-weight:bold;background: #EDEDED;">Y05X07</li>
                        <li style="background-color:#1ABC9C;color:white;font-size:18px;border-radius:2%">任务名</li>
                        <li style="font-size:18px;font-weight:bold;background: #EDEDED;">1</li>
                    </ul>
                    <ul class="Control-li" style="display:block;height:50px;margin-top:20px">
                        <li style="background-color:#1ABC9C;color:white;font-size:18px;border-radius:2%">出发地</li>
                        <li style="font-size:18px;font-weight:bold;background: #EDEDED;">V1.0.5</li>
                        <li style="background-color:#1ABC9C;color:white;margin-top:10px;font-size:18px;border-radius:2%">目的地</li>
                        <li style="font-size:18px;font-weight:bold;background: #EDEDED;">V1.0.5</li>
                    </ul>
                    <ul class="Control-li" style="display:block;height:50px;margin-left:38%;margin-top:20px;">
                        <li style="background-color:red;color:white;font-size:18px;border-radius:2%;margin-left:3%;width:35%">报警信息</li>
                    </ul>
                    <ul class="Control-li" style="background-color:#EDEDED;display:block;width:50%;height:200px;margin-left:25%;margin-top:10px;">
                        <li style="color:green;font-weight:bold;font-size:30px;border-radius:2%;width:100%;height:200px;line-height:200px;">正常</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default"style="width:59.60%;float:right;">
                <div class="x_title">
                    <h2 style="font-size:18px;">AGV控制</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">

                </div>
            </div>
</div>  